{% extends 'base.html' %}
{% block content %}
  <h2>Blog Posts</h2>
  <a href="{% url 'blog_create' %}" class="btn btn-success mb-3">➕ Create New Blog</a>
  {% for blog in blogs %}
    <div class="card mb-3">
      <div class="card-body">
        <h4>{{ blog.title }}</h4>
        <p>{{ blog.content|linebreaks }}</p>
        <small>By {{ blog.author }} on {{ blog.created_at }}</small>
        <br>
        <a href="{% url 'blog_edit' blog.id %}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger btn-sm">Delete</a>
      </div>
    </div>
  {% empty %}
    <p>No blog posts yet.</p>
  {% endfor %}
{% endblock %}
